{% include 'base.html' %}
{% import "bootstrap/utils.html" as utils %}
{% block content %}
    <div class="container">
      <br/>
      <div class="center">
          <table class="table table-bordered" style="width:100%">
              <tr>
                  <th>email</th>
                  <th>first_name</th>
                  <th>last name</th>
                  <th>location</th>
                  <th>bio</th>
                  <th>site</th>
                  <th>facebook</th>
                  <th>twitter</th>
                  <th>git</th>
                  <th></th>
              </tr>
              <tr>
                  <td>{{ user.email }}</td>
                  <td>{{ user.first_name }}</td>
                  <td>{{ user.last_name }}</td>
                  <td>{{ user.location }}</td>
                  <td>{{ user.bio }}</td>
                  <td>{{ user.site }}</td>
                  <td>{{ user.facebook_handle }}</td>
                  <td>{{ user.twitter_handle }}</td>
                  <td>{{ user.github_handle }}</td>
              </tr>
          </table>
      </div>
    </div>
{% endblock %}
